.SobreMim {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(to bottom, #2E2E2E, gray);
    text-align: center;
    max-width: 250px;
    height: 100vh;
    border-radius: 50px;
    border: 2px solid rgb(119, 119, 119);
    padding-top: 20px;
    grid-column: 1;
    grid-row: 1/3;
}

.SobreMim .perfil, .SobreMim .perfil2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    & img{          
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    }

}

.SobreMim, .info h2{
    color: white;
}

.SobreMim .Caixotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SobreMim .Desc1, 
.SobreMim .Desc2{
    padding: 8px;
    color: #C0C0C0;
    margin-bottom: 25px;
    max-width: 90%;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgb(151, 151, 151));
    box-shadow: 2px 4px 10px ;
}



.Detalhes, .dialog button {
    font-size: 14px;
    border: solid 2px #ffffff;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;
}

.Detalhes:hover, .dialog button:hover{
    background-color: #333;
    
}

.Detalhes:active, .dialog button:active {
    transform: scale(0.95);
}


.dialog {
    background: linear-gradient(to right, rgb(68, 68, 68), white);
    margin: auto;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: mover 1s ease;

    & .conteudo{
        margin: auto;
        width: auto;
        max-width: 50%;
        max-height: 700px;
        background: linear-gradient(to right, white, rgb(139, 139, 139));
        border: black 1px solid;
        border-radius: 15px;
        box-shadow: 2px 4px 10px ;

        margin-bottom: 15px;
    }
}
.dialog img, 
.dialog p{
    margin-bottom: 50px;
}


@keyframes mover {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    

    100%{
        transform: translateY(1);
        opacity: 1;
    }
}